{% load static %}
.no-js .top-bar {
  display: none;
}
@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}

.top-bar{
    background-color: #444; /* Replace with your desired color */
}
/* Change background color of dropdown items */
.dropdown.menu {
    background-color: #444; /* Replace with your desired color for dropdowns */
     justify-content: flex-end;
}
/* Change text color for better contrast */
.top-bar a {
    color: #ffffff; /* Change link color to white for better visibility */
}
.dropdown.menu li a {
    color: #ffffff; /* Change dropdown link color to white */
}
/* Optional: Change hover state colors */
.dropdown.menu li a:hover {
    background-color: #555; /* Background color on hover */
    color: #ffffff; /* Text color on hover */
}
.menu-text{
    margin-top: 0px;
}
.clear.button.alert.menu-out{
   padding: 0px;
}
.avatar-circle{
    background: cyan;
    border-radius: 100px;
}
.avatar{
    width: 30px;
    height: 30px;
    border-radius: 100px;
}
/* User table */
.table-img{
    background: red;
    border-radius: 50px;
    height: 50px;
    width: 50px;
}
.thumbnail{
    border-radius:50px
}
.thead{
    background-color: #344045;
    color: white;

}
.tbody{
    background-color: #C6CBCD;
    padding-top: 40px
}

.btn-delete{
    margin-top: 15px;
}
/*Detail*/
.detail-img{
    width: 270px;
    height:340px;
    border-radius: 55px;
    padding: 3px;
    background: #19334d;
}
/*Login*/
.login{

   background-image: url("/static/images/login.a255ad803883.jpg");
   background-repeat: no-repeat;
   background-position: center center;
   *background-size: cover;

}
.login-fieldset{
    background: rgba(128, 128, 128, 0.7);
    margin: 90px auto 230px auto;
}
/*Management*/
.before{
    background: #999900;
    color: white;
    margin-top:2px;
    padding-top:3px;
    padding-left: 6px;
    font-weight: bold;
}
.after{
    background: #008000;
    color: white;
    margin-top:2px;
    padding-top:3px;
    padding-left: 6px;
    font-weight: bold;
}
