<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>crud</title>
    {% endif %}
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous">
    <!-- Include Motion UI -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/motion-ui@1.2.3/dist/motion-ui.min.css" />
      {% load static %}
        <!-- My custom CSS -->
      <link rel="stylesheet" href="{% static 'users/style.css' %}" >

  </head>
<body>

    <div class="title-bar" data-responsive-toggle="main-nav" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar" id="main-nav" data-animate="hinge-in-from-top spin-out">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>

          <li class="{% if request.path == '/' %} active {% endif %}"><a href="{% url 'home' %}">Home</a></li>
          <li class="{% if request.path == '/about/' %} active {% endif %}"><a href="{% url 'about' %}">About</a></li>
          {% if user.is_authenticated %}
              <li class="{% if request.path == '/profile/' %} active {% endif %}"><a href="{% url 'profile' %}">Profile</a></li>
              <li class="{% if request.path == '/users/' or request.path == '/user/new/' %} active {% endif %}">
                  <a href="{% url 'users' %}">Users</a>
              </li>
              <li class="{% if request.path == '/management/' %} active {% endif %}"><a href="{% url 'management' %}">Management</a></li>
              <li  class="menu-text">
                  <form method="POST" action="{% url 'logout' %}">
                      {% csrf_token %}
                      <button class="clear button alert menu-out" type="submit">Sign Out</button>
                  </form>
              </li>
               <li>
                <div class="avatar-circle">
                    {% if request.user == user %}
                        <img class="avatar" src={{user.profile.image.url}} alt="User" />
                    {% endif %}
                </div>
              </li>
          {% else %}
              <li><a href="{% url 'register' %}">Sign Up</a></li>
              <li><a href="{% url 'login' %}">Sign In</a></li>
          {% endif %}

        </ul>
      </div>
    </div>

    <div class="callout">

        {% block content %}{% endblock %}
    </div>

    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script> <!-- Ensure jQuery is loaded -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/js/foundation.min.js" crossorigin="anonymous"></script>
    <!-- Include additional Foundation JS components -->
    <script>
        $(document).foundation(); // Initialize Foundation
    </script>
</body>
</html>