{% extends 'users/base.html' %}
{% block content %}
<h2>Management</h2>

<h3>Files</h3>
{% for file in media_files %}
        <form method="POST" action="{% url 'delete_file' file %}">
            {% csrf_token %}
            <span>{{MEDIA_URL}}profile_pics/{{ file }}</span>
            <img src="{{MEDIA_URL}}profile_pics/{{ file }}" alt="{{file}}" width="50" height="50" />
            <button type="submit">Delete</button>
        </form>
    {% empty %}
        <h5>No images found.</h5>
{% endfor %}

<h3>Files that are being used</h3>
{% for file_ in user_files %}
    {% if file_.image != 'default.jpg' %}
        <h5>{{file_.image}}</h5>
        <img src={{file_.image.url}} width="50" alt="{{file_.image}}" />
    {% endif %}
    {% empty %}
            <h5>No images found.</h5>
{% endfor %}

<h3>Clean Database</h3>

{% endblock %}