{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-10 medium-offset-1 large-10 large-offset-1">
        <h2>Management</h2>
        <h5 class="text-right">Image Storage Tip</h5>
            {% if messages %}
                {% for sms in messages %}
                    <div class="callout alert" data-closable>
                      <span>{{sms}}</span>
                      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                {% endfor %}
            {% endif %}
        <hr/>
    </div>
    <div class="row small-5 small-offset-1  medium-3 medium-offset-2 large-3 large-offset-2">
        <img src="{% static 'images/man.jpg' %}" width="300" alt="black man"/>
        <p class="before">Before</p>
        <span>Type: jpg</span><br/>
        <span>Width: 640px</span><br/>
        <span>height: 640px</span>
        <p>size: 34,164 bytes</p>
    </div>
    <div class="cell small-4 small-offset-1 medium-2 medium-offset-1  large-2 large-offset-1">
        <img src="{% static 'images/man.jpg' %}" width="300" alt="black man"/>
        <p class="after">After</p>
        <span>Type: jpg</span><br/>
        <span>Width: 300px</span><br/>
        <span>height: 300px</span>
        <p>size: 9,916 bytes</p>
    </div>
    <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-1">
        <code class="code-block">{
            def save(self, *args, **kwargs):
            ...
            img = Image.open(self.image.path)
            if img.height > 300 or img.width > 300:
                resize = (300, 300)
                img.thumbnail(resize)
                img.save(self.image.path)
                return 'has been updated correctly (300x300)!'
        }</code>
    </div>
    <div class="cell small-12  medium-10 medium-offset-1  large-8 large-offset-1">
        <h4>Purpose and Benefits</h4>
        <dl>
            <dt>Image Optimization</dt>
            <dd>By resizing images to a maximum of 300x300 pixels, this method helps optimize images for web use or storage, reducing file size and improving loading times.</dd>
            <dt>Aspect Ratio Preservation</dt>
            <dd>Using thumbnail ensures that images retain their original aspect ratio, preventing distortion which can occur if images are resized without regard to their proportions.</dd>
            <dt>Automatic Handling</dt>
            <dd>This method automates the process of checking and resizing images whenever an instance of this model is saved, enhancing user experience by ensuring consistent image quality.</dd>
        </dl>
    </div>

    {% if user.is_superuser %}

        <div class="cell small-12 medium-10 medium-offset-1 large-10 large-offset-1">
            <hr/>
            <button type="button" class="button small" data-toggle="offCanvasLeftSplit1">Open Left</button>
            <button type="button" class="button small" data-toggle="offCanvasRightSplit2">Open Right</button>
        </div>

        <div class="cell small-6">
            <div class="off-canvas-wrapper">
              <div class="off-canvas-absolute position-left" id="offCanvasLeftSplit1" data-off-canvas>
                <!-- Your menu or Off-canvas content goes here -->
                  <p>Files...</p>
              </div>
              <div class="off-canvas-content" style="min-height: 300px;" data-off-canvas-content>
                   <h3>All Files</h3>
                    {% for image_url in image_urls %}
                        <img src="{{ image_url }}" width="50" alt="Uploaded Image">
                        {% empty %}
                            <h5>No images found.</h5>
                    {% endfor %}
              </div>
            </div>
        </div>
        <div class="cell small-6">
            <div class="off-canvas-wrapper">
              <div class="off-canvas-absolute position-right" id="offCanvasRightSplit2" data-off-canvas>
                <!-- Your menu or Off-canvas content goes here -->
              </div>
              <div class="off-canvas-content" style="min-height: 300px;" data-off-canvas-content>
                    <h3>Files that are being used</h3>
                    {% for photo in user_files %}
                        <img src={{photo.image.url}} width="50" alt="#" />
                        <p>{{photo.image}}</p>
                        {% empty %}
                            <h5>No images found.</h5>
                    {% endfor %}
              </div>
            </div>
        </div>
        <div class="cell small-12 medium-10 medium-offset-1 large-10 large-offset-1 text-right">
            <hr/>
                <a href="{% url 'delete_all_data' %}" class="button tiny alert" >Clean Database</a>
        </div>
    {% endif %}
</div>
{% endblock %}