{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<h2>Profile</h2>
<hr/>
    {% if messages %}
        {% for sms in messages %}
            <div class="callout primary" data-closable="slide-out-right">
              <span>{{sms}}</span>
              <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        {% endfor %}
        <br/>
    {% endif %}
<div class="grid-x grid-margin-x">
  <div class="cell small-10 small-offset-2 medium-4 large-4 medium-offset-2 large-offset-2">
        <img class="detail-img" src={{user.profile.image.url}}  />
  </div>
  <div class="cell small-10 medium-4 large-4">
      <br/>
      <h4>{{ user.username }}</h4>
      <h5><b>Name:</b> {{ user.first_name }} {{ user.last_name }}</h5>
      <h5><b>Email:</b> {{ user.email }}</h5>
      <h5><b>Active:</b> {{ user.is_active }}</h5>
      <h5><b>Staff status:</b> {{ user.is_staff }}</h5>
      <h5><b>Superuser status:</b> {{ user.is_superuser }}</h5>
  </div>
</div>
<br/><br/><br/>
<div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="grid-container ">
            <div class="grid-x grid-padding-x">
                <div class="small-12 medium-9 medium-offset-1 large-9 large-offset-1">
                    <fieldset class="fieldset">
                        <legend>Update the Account</legend>
                        {{u_form | crispy}}
                        {{f_form | crispy}}
                        <button class="submit button primary  small">Submit</button>
                    </fieldset>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}