{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="grid-container ">
        <div class="grid-x grid-padding-x">
            <div class="small-12 medium-9 medium-offset-1 large-9 large-offset-1">
                <fieldset class="fieldset">
                   <legend> Create New Account </legend>
                    {{ u_form }}
                   <button class="submit primary button small" type="submit" >Create Account</button>
                    {% if not user.is_authenticated %}
                        <p>Already have an account? <a href="{% url 'login' %}">Sign in</a></p>
                    {% endif %}
                </fieldset>
            </div>
        </div>
    </div>
</form>
{% endblock %}