{% extends 'users/base.html' %}
{% block content %}
<h2>User Data</h2>

<h4 class="text-right">{{ user.username }}</h4>
<a href="{% url 'register' %}" class="button small">Add</a>
 {% if messages %}
        {% for sms in messages %}
            <small>{{sms}}</small>
        {% endfor %}
        <br/>
    {% endif %}
<br/>
<div class="table-scroll">


    <table class="hover">
        <thead class="thead">
            <tr>
                <th>ID</th>
                <th>Detail</th>
                <th>Name</th>
                <th>Email</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody class="tbody">
        {% for u in users_ %}
            <tr>
                <td>{{ u.id }}</td>
                <td><a href="{% url 'detail' u.id %}" class="thumbnail"><img class="table-img" src={{u.profile.image.url}} alt="user"></a></td>
                <td><a href="{% url 'update' u.id %}">{{ u.username }}</a> </td>
                <td>{{ u.email }}</td>
                <td><a href="{% url 'update_pic' u.id %}" class="clear ">Edit</a></td>
                <td><a href="{% url 'delete' u.id %}" class="clear button alert btn-delete">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}