{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="uniForm">
    <h4 class="text-right">{{ user.username }}</h4>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="grid-container ">
            <div class="grid-x grid-padding-x">
                <div class="small-12 medium-9 medium-offset-1 large-9 large-offset-1">
                    <fieldset class="fieldset">
                         <legend>Update the Account </legend>
                        {{form| crispy}}
                        <button class="submit button primary small" type="submit">Submit</button>
                    </fieldset>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}